In [1]:
#importing required librabies
import pandas as pd
import numpy as np

In [2]:
#reading the csv file
df = pd.read_csv(r"C:\Users\banav\Desktop\INTERNSHIP\data\raw_data_v11_3.csv")

In [3]:
#checking shape of df
df.shape

(1000, 8)

In [4]:
#top 5 rows
df.head()

,Date of Birth,What is your current profession?,What is the year of completion of your Highest Education Qualification?,Which of the following best describes you?,Please mention the name of the institute where you have completed or are currently pursuing your Data Science Certification Course.,"In case your certification institute is ""Innomatics Research Labs"", please provide your Enrolled Batch Number.",Please indicate the time that suits you for your daily LIVE interaction with our Chief Data Scientist as part of your internship.,What do you think are most important skill right now for a skilled Data Scientist?
0,9/16/2000,Fresher (I have completed my Education and loo...,7/30/2023,I am currently enrolled in a Data Science cert...,Innomatics Research Labs,251,6:00 to 7:00 PM IST,Extracting actionable insights from the raw da...
1,2/6/1998,Fresher (I have completed my Education and loo...,5/18/2022,I have never enrolled in any certification cou...,NaN,NaN,6:00 to 7:00 PM IST,Extracting actionable insights from the raw data
2,10/8/2003,Student (I am currently enrolled in some Educa...,4/1/2025,I am currently enrolled in a Data Science cert...,NaN,NaN,6:00 to 7:00 PM IST,Data Modelling
3,11/29/2001,Student (I am currently enrolled in some Educa...,5/15/2024,I have never enrolled in any certification cou...,NaN,NaN,5:00 to 6:00 PM IST,Extracting actionable insights from the raw da...
4,11/25/2004,Student (I am currently enrolled in some Educa...,1/10/2026,I have completed a Data Science certification ...,Velagapudi ramakrishna Siddhartha college,Na,6:00 to 7:00 PM IST,Extracting actionable insights from the raw da...

In [5]:
#column names in list
col_names = ['date_of_birth','current_profession','education_year','enrollment_courses','institute_name','batch_no','time','skill_set']

#changing the column names in our df
df.columns = col_names

In [6]:
#knowing the column in df
df.columns

Index(['date_of_birth', 'current_profession', 'education_year',
       'enrollment_courses', 'institute_name', 'batch_no', 'time',
       'skill_set'],
      dtype='object')

In [7]:
#knowing sum of the duplicates
df.duplicated().sum()

2

In [8]:
#knowing the duplicates
df.loc[df.duplicated()]

,date_of_birth,current_profession,education_year,enrollment_courses,institute_name,batch_no,time,skill_set
341,3/22/2004,Student (I am currently enrolled in some Educa...,5/31/2025,I am currently enrolled in a Data Science cert...,Cisco networking academy,NaN,6:00 to 7:00 PM IST,Extracting actionable insights from the raw da...
384,10/30/2003,Student (I am currently enrolled in some Educa...,4/30/2025,I have never enrolled in any certification cou...,NaN,NaN,6:00 to 7:00 PM IST,Basics of backend application development usin...

In [9]:
df.loc[df['date_of_birth'] == '3/22/2004']

,date_of_birth,current_profession,education_year,enrollment_courses,institute_name,batch_no,time,skill_set
221,3/22/2004,Student (I am currently enrolled in some Educa...,5/31/2025,I am currently enrolled in a Data Science cert...,Cisco networking academy,NaN,6:00 to 7:00 PM IST,Extracting actionable insights from the raw da...
341,3/22/2004,Student (I am currently enrolled in some Educa...,5/31/2025,I am currently enrolled in a Data Science cert...,Cisco networking academy,NaN,6:00 to 7:00 PM IST,Extracting actionable insights from the raw da...

In [10]:
df.loc[df['date_of_birth'] == '10/30/2003']

,date_of_birth,current_profession,education_year,enrollment_courses,institute_name,batch_no,time,skill_set
8,10/30/2003,Student (I am currently enrolled in some Educa...,4/30/2025,I have never enrolled in any certification cou...,NaN,NaN,6:00 to 7:00 PM IST,Basics of backend application development usin...
384,10/30/2003,Student (I am currently enrolled in some Educa...,4/30/2025,I have never enrolled in any certification cou...,NaN,NaN,6:00 to 7:00 PM IST,Basics of backend application development usin...

In [11]:
#dropping the duplicates
df.drop_duplicates(inplace = True)

In [12]:
#knowing df after dropping duplicates
df.shape

(998, 8)

In [13]:
#about data
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 998 entries, 0 to 999
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date_of_birth       998 non-null    object
 1   current_profession  998 non-null    object
 2   education_year      998 non-null    object
 3   enrollment_courses  998 non-null    object
 4   institute_name      677 non-null    object
 5   batch_no            338 non-null    object
 6   time                998 non-null    object
 7   skill_set           998 non-null    object
dtypes: object(8)
memory usage: 70.2+ KB

In [14]:
#changing dtype of date_of_birth
df['date_of_birth'] = pd.to_datetime(df['date_of_birth'])

In [15]:
#checking info after changing
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 998 entries, 0 to 999
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date_of_birth       998 non-null    datetime64[ns]
 1   current_profession  998 non-null    object
 2   education_year      998 non-null    object
 3   enrollment_courses  998 non-null    object
 4   institute_name      677 non-null    object
 5   batch_no            338 non-null    object
 6   time                998 non-null    object
 7   skill_set           998 non-null    object
dtypes: datetime64[ns](1), object(7)
memory usage: 70.2+ KB

### 1. What is the current profession of most interns?

In [16]:
#cleaning the column getting only only professsion and saving in same column name
df['current_profession'] = df['current_profession'].apply(lambda x : x.split()[0])

In [17]:
df['current_profession'].value_counts()

Student       486
Fresher       424
Working        62
Freelancer     26
Name: current_profession, dtype: int64

### 2.What are the preferred LIVE session timings?

In [18]:
#applying the "value counts" to time column to know count of each time
df['time'].value_counts()

6:00 to 7:00 PM IST    670
5:00 to 6:00 PM IST    328
Name: time, dtype: int64

### 3.How many interns are enrolled or have completed their data science professional courses?

In [19]:
#filtering rows with enrolled courses or completed course interns and counting with enrollment_Courses column
df.loc[(df['enrollment_courses'] == 'I am currently enrolled in a Data Science certification course') | (df['enrollment_courses'] == 'I have completed a Data Science certification course'), ['enrollment_courses']].count()

enrollment_courses    697
dtype: int64

### 4.For interns who never enrolled in a data science certification course, what is the current profession of the majority of them?

In [20]:
#filtering enrollment courses who never enrolled and apply value count on it
df.loc[(df['enrollment_courses'] == 'I have never enrolled in any certification courses'), ['current_profession']].value_counts()

current_profession
Student               198
Fresher                87
Working                13
Freelancer              3
dtype: int64

### 5.Which skill is the third most important for a data scientist?

In [21]:
#splitting skill_set column with "," so we convert them into list
skills = df['skill_set'].str.split(',')
skills

0      [Extracting actionable insights from the raw d...
1      [Extracting actionable insights from the raw d...
2                                       [Data Modelling]
3      [Extracting actionable insights from the raw d...
4      [Extracting actionable insights from the raw d...
                             ...
995    [Extracting actionable insights from the raw d...
996                                               [LLMs]
997    [Extracting actionable insights from the raw d...
998    [Extracting actionable insights from the raw d...
999                  [LLMs,  MLOps,  Prompt Engineering]
Name: skill_set, Length: 998, dtype: object

In [22]:
# we can apply explode function on the above converted list so we can get all the elements in list spearately  
explode = skills.explode()
explode

0       Extracting actionable insights from the raw data
0                                         Data Modelling
0                                                   LLMs
0                                                  MLOps
0       Basics of backend application development usi...
                             ...
998                                                 LLMs
998     Basics of backend application development usi...
999                                                 LLMs
999                                                MLOps
999                                   Prompt Engineering
Name: skill_set, Length: 3766, dtype: object

In [23]:
#as we apply value_counts on explode then we get all count of unique values but we are getting same names not cleaned
explode.value_counts()

Extracting actionable insights from the raw data           868
 Data Modelling                                            765
 MLOps                                                     585
 LLMs                                                      505
 Basics of backend application development using python    496
 Prompt Engineering                                        417
Data Modelling                                              60
LLMs                                                        28
Basics of backend application development using python      24
MLOps                                                       11
Prompt Engineering                                           7
Name: skill_set, dtype: int64

In [24]:
#to clean above names we need to strip 
cleaned_explode = explode.str.strip()

In [25]:
# applyin value_counts on the above cleaned_explode
cleaned_explode.value_counts()

Extracting actionable insights from the raw data          868
Data Modelling                                            825
MLOps                                                     596
LLMs                                                      533
Basics of backend application development using python    520
Prompt Engineering                                        424
Name: skill_set, dtype: int64

### 6.How many interns selected “Prompt Engineering” as the most important skill?

In [43]:
cleaned_explode.value_counts()

Extracting actionable insights from the raw data          868
Data Modelling                                            825
MLOps                                                     596
LLMs                                                      533
Basics of backend application development using python    520
Prompt Engineering                                        424
Name: skill_set, dtype: int64

### 7.Let’s now analyze the age groups of fellow interns.

### a.What is the minimum age of an intern at Innomatics Research Labs?

In [27]:
#importing datetime
from datetime import datetime

#here we are assgning current year as current year
current_year = datetime.now().year

#crearting new column with current_year - intern birth date year
df['age'] = (current_year - df['date_of_birth'].dt.year)

#checking minimum age
df['age'].min()

0

### b.How many interns were born on a Sunday?

In [28]:
#extracting weekday
week_day = df['date_of_birth'].dt.dayofweek

In [29]:
#applying value_counts on it
week_day.value_counts()

0    162
4    146
3    146
5    145
1    140
2    134
6    125
Name: date_of_birth, dtype: int64

###  c.In which month do the majority of interns are born?

In [30]:
#extracting month from date of birth column
month = df['date_of_birth'].dt.month

In [31]:
#value counts on month
month.value_counts()

7     103
5     102
6      97
8      93
10     91
4      87
9      81
11     78
12     76
1      66
2      64
3      60
Name: date_of_birth, dtype: int64

### d.What is the median age of a working professional?

In [32]:
#filtering rows of current_profession who are working and getting age column median
df.loc[df['current_profession'] == 'Working', 'age'].median()

27.0

### e.What is the maximum age of a freelancer?

In [33]:
#filtering rows of current_profession who are Freelancer and getting age column max
df.loc[df['current_profession'] == 'Freelancer', 'age'].max()

44

### 8.Let’s do our final analysis now. Let’s try to learn about the institute from where interns have completed or are pursuing their data science courses.

### a.How many interns didn’t mention the name of the data science institute from where they completed or are currently pursuing the courses?

In [ ]:
#replace all the  "na" values with null values

In [35]:
df['institute_name'] = df['institute_name'].replace('Na',np.nan)

In [36]:
df['institute_name'] = df['institute_name'].replace('No',np.nan)

In [37]:
df['institute_name'] = df['institute_name'].replace('NA ',np.nan)

In [38]:
df['institute_name'] = df['institute_name'].replace('na',np.nan)

In [39]:
df['institute_name'] = df['institute_name'].replace('NA(self learning) ',np.nan)

In [40]:
df['institute_name'] = df['institute_name'].replace('N',np.nan)

In [55]:
df['institute_name'] = df['institute_name'].replace('N/a',np.nan)

In [56]:
#knowing the sum of null values mean didn't mention the institute name
df['institute_name'].isnull().sum()

339

### b.How many interns mentioned Innomatics as their data science institute?